body {
    background-color: black;
}

header {
    text-align: center;
    padding-top: 5%;
}

span {
    margin-left: 80%;
    color: white;
}

a {
    color: chartreuse;
    font-size: large;
}

a:hover {
    color: rgb(0, 195, 255);
}

a:visited {
    color: red;
}

h1 {
    color: white;
    font-size: 40px;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: normal;
    word-wrap: break-word;
    text-align: center;
    display: block;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgb(0 0 0 / 10%), 0 0 5px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 30%), 0 3px 5px rgb(0 0 0 / 20%), 0 5px 10px rgb(0 0 0 / 25%), 0 20px 20px rgb(0 0 0 / 15%);
    letter-spacing: normal;
    text-transform: uppercase;
}

p {
    color: white;
    font-size: larger;
}

button:hover {
    color:aqua;
    background-color:white;
}

footer {
    margin-top: 8%;
    background-color: black;
    margin-right: 80%;
}

.texte {
    border: medium inset rgb(5, 5, 5);
    padding: 2%;
    background-image: url('../images/div_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    color: white;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: normal;
    word-wrap: break-word;
    text-align: center;
    display: block;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgb(0 0 0 / 10%), 0 0 5px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 30%), 0 3px 5px rgb(0 0 0 / 20%), 0 5px 10px rgb(0 0 0 / 25%), 0 20px 20px rgb(0 0 0 / 15%);
    letter-spacing: normal;
    text-transform: uppercase;
}